.project_block {
    display: flex;
    align-items: center;
    min-height: 100vh;
    border: 1px solid
}

.project_contanier {
    display: flex;
    flex-direction: column;
}

.my_portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

