.code {
    position: fixed;
    border-style: solid;
    width: 10vw;
    height: 50vh;
    border-width: 0.01rem 0.01rem 0 0;
    background: linear-gradient(300deg, #000000, #101010, #7c7c7c);
    background-size: 300% 300%;
    animation: code 5s ease infinite;
    opacity: 0.1;
}

@keyframes code {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}