.project_block {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(66, 63, 63);
}

.project_contanier {
    flex-direction: column;
    justify-content: flex-start;
}



.projects {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid;
}
