.project_block {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(33, 30, 30, 0.98);
}

.project_contanier {
    display: flex;
    flex-direction: column;
}

.my_portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

