.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(33, 30, 30, 0.98);
}

.text {
    width: 300px;
}

.photo {
    height: 500px;
    width: 350px;
}

