.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
    margin-top: 20px;
}

.text {
    width: 250px;
}

.img {
    width: 60px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #ffd700;

}