.App {
    position: fixed;
    min-width: 100vw;
    top: 0;
    left: 0;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(300deg, #101010, #212121);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.left_container {
    position: fixed;
    min-height: 100%;
    min-width: 50%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    perspective: 38rem;
}


.right_container {
    position: fixed;
    width: 100%;
}

.inner-content {
    position: relative;
    width: 50%;
    left: 50%;
}

.section-container {
    max-width: 90%;
}

.elementor {
    z-index: 1;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
}

.upMain {
    opacity: 0.5;
    transform: translate(-25%, 0px)
}

.downMain {
    opacity: 1;
    transform: translate(0%, 0px);
}

.styles_container {
    z-index: -5;
    position: fixed;
    height: 20vh;
    width: 20vw;
    right: 0;
    top: 10vh;
}
